h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
a  {
  margin: 0;
  padding: 0;
  list-style:none;
    text-decoration: none;
}




 /* ГОЛОВОО виз НАВВВВ ВИГЕЙШИНС*/
.header-header{
  border-bottom: 1px solid #e7e9fc
}
.header-div-container{
  display: flex;

}
.container{
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px 0 15px
}
.header-div-nav{
  display: flex;
  align-items: center;
}

/* голова и в нем супєр лого */
.web-text{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.web-accent {
  color: #2e2f42;
}
.probel{
  margin-right: 76px;
}

/* голова и нав по страничке*/
.header-div-nav-ul{
  display: flex; 
  gap: 40px;
}
.nav-ul-a{
  padding: 24px 0 24px;
}
/* голова в котором адресут */
.header-div-nav-address{
 
}
.nav-address-ul{
  display: flex;
  gap: 40px;
}
/**-------------------------*/

/* первая секцияояояоя*/
.main-section{
  padding: 188px 0;

}
.main-section-div-container{

}
.main-section-div-h{
max-width: 496px;
}
.main-section-div-button{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  display: block;
  width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: #ffffff;
  background-color:#4d5ae5;
}
.main-section-div-button:hover,
.main-section-div-button:focus{
  background-color: #404BBF;
}
/*============================*/

/* втораяя йоу секшин*/
.body-a-section{
padding: 120px 0;
}
.body-a-section-div{
  
}










.container-nav{
  display: flex;
    justify-content: space-between;
  align-items: center;
}


.ull {
  list-style: none;
   display: flex;
  gap: 40px; 
/* gap: 24px;
  width: calc((100% - 72px) / 4);
margin-bottom: 8px;*/

}
.nav-inf{
  
}
.contacts-itam{
  display:flex;
      gap:40px;
}
 


body{
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}
header{
  border-bottom: 1px solid #e7e9fc

}
.nav-main{
  display: flex;         /* логотип + меню в ряд */
  align-items: center;   /* по центру */
}

.a{
  font-family: "Raleway", sans-serif;
}
/* ЛОГО */
/*.web-text{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.web-accent {
  color: #2e2f42;
}*/

/* нав */
.nav-inf{
  display:flex;
  align-items:center;
}
.nav-link {
 
   padding:24px 0;
  font-weight:500;
  line-height:1.5;
  letter-spacing:0.02em;
  color:#2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}



/* контакти */
.address-info {
  font-style: normal;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}









/* Effective Solutions for Your Business */

.container-button{
display: flex;
  justify-content: center; /* по горизонтали */
  align-items: center;     /* по вертикали */
  height: 10vh;           /* висота на весь екран */
  margin: 0;   
}

.section-effective-solutions{
  background-color: #2e2f42;
  
  height: 600px;  
}

.main-effective-solutions{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    }
  

.ontainer-solution{
  height: 600px;
}

    /* кнопка */



/* качества */
.quality{
   padding: 120px 0;
}

.quality-tittle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
    
}
.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* тимейты в кс */
.sect-our-team{
background-color: #F4F4FD
/*wedth: 1440px;
height: 732px;*/
}

.our-team{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  
}

.image{
    background-color: #FFFFFF;
    
    
}
.names{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    
}
/* портфолиоо */
.our-portfolio{
    font-weight: 500;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
}

.h-list-portfolio{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

    /*ФУУУтерок*/

    /*.container-foot{}*/

    .footer{
      background-color:#2e2f42;
      height: 312px; 
      padding: 100px 0
      
     }
    .web-accent-w{
      color: #f4f4fd;
    
      
    }
    .p-in-footer{
      line-height: 1.5;
      color:  #F4F4FD;
      letter-spacing: 0.02em;
    
    }
